<section class="slide {{ section.style }} cols-2" id="{{ section.id }}">
    <div>
        <div class="card shadow border-0 p-4 bg-light" style="width: 80%;">
            <h3 class="mb-3">{{ section.form.title }}</h3>
            <form id="requestDemoForm" class="needs-validation row g-1 gap-2">
                <input type="text" name="name" class="form-control" placeholder="{{ section.form.labels.name }}"
                    required>
                <input type="email" name="email" class="form-control" placeholder="{{ section.form.labels.email }}"
                    required>
                <input type="phone" name="phone" class="form-control" placeholder="{{ section.form.labels.phone }}">

                <div class="alert alert-danger visually-hidden" role="alert">
                    {{ section.form.fail_msg }}
                </div>
                <div class="alert alert-success visually-hidden" role="alert">
                    {{ section.form.success_msg }}
                </div>
                <button class="btn btn-primary" type="submit">{{ section.form.labels.button }}</button>
            </form>
        </div>
    </div>
    <div>
        <h3 class="mb-3 {{ section.title_class}}">{{ section.title }}</h3>
        {{ section.text | markdownify}}
        <div class="list_with_icons">
            {% for f in section.actions %}
            <div class="{{ f.icon_style | default: 'text-white bg-warning' }} icon circled">
                {{ f.icon }}
            </div>
            <div>
                <a href="{{ f.url }}" target="_blank">{{ f.title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>

</section>
