<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <!-- {#% assign cols = section.size | at_most: 4 %#} -->
      {% assign cols = section.size %}
      {% if cols > 4 %}
        {% assign cols = 4 %}
      {% endif %}

      {% assign colsL = 12 | divided_by: cols %}
      {% assign colsM = colsL | times: 2 %}

      {% for plan in section.prices %}
      <div class="col-lg-{{ colsL }} col-md-{{ colsM }} text-center">
          <div class="pricing-table-block mb-5">
            <div class="plan-name">
              <h3>{{plan.title}}</h3>
            </div>
            <div class="plan-price">
              <div class="price-value">{{ plan.price }}</div>
              {% if plan.interval %}
                <div class="interval">{{ plan.interval }}</div>
              {% endif %}
            </div>
            <div class="plan-list">
              <ul class="list-unstyled">
              {% for feature in plan.features %}
                <li><i class="bi bi-check me-2"></i>{{feature}}</li>
              {% endfor %}
              </ul>
            </div>
            <div class="plan-signup">
                <a href="{{ plan.url }}" class="btn btn-md js-scroll-trigger {{ plan.class | default: "btn-primary" }}">{{ plan.action }}</a>
            </div>
          </div>

      </div>
      {% endfor %}
    </div>
  </div>
</section>
