<section class="slide {{ section.style }}" id="{{ section.id }}">
    <div class="container px-4 px-lg-5">
        <h2 class="{{ section.title_style }} mt-0">{{ section.title }}</h2>
        <div class="row gx-4 gx-lg-5 justify-content-center">

            <div id="{{ section.section_id }}_carousel" class="carousel slide" data-ride="carousel">
                {% assign active_section = 'active' %}
                {% assign active_section_id = 0 %}

                <div class="carousel-inner d-flex align-items-center">
                    {% assign active_section = 'active' %}
                    {% for f in section.actions %}
                    <div class="carousel-item {{active_section}}">
                        <div class="list_with_icons hide-on-mobile">
                            <div>
                                <img src="{{ f.image }}" class="avatar me-5" alt="{{ f.name }}" />
                            </div>
                            <div>
                                <h3 class="text-secondary">{{ f.title }} </h3>
                                {{ f.text | markdownify }}
                                <div class="text-secondary">{{ f.name }}</div>
                                <div class="text-secondary">{{ f.position }}</div>
                            </div>

                        </div>
                        <div class="hide-on-desktop">
                            <h3 class="text-secondary">{{ f.title }} </h3>
                            {{ f.text | markdownify }}
                            <div class="text-secondary">{{ f.name }}</div>
                            <div class="text-secondary">{{ f.position }}</div>
                        </div>
                    </div>
                    {% assign active_section = '' %}
                    {% endfor %}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#{{ section.section_id }}_carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#{{ section.section_id }}_carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>
</section>